<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <h1>Edit Recipe</h1>
    <form th:action="@{'/updateRecipe/' + ${recipe.recipeId}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nameRecipe">Recipe Name:</label>
            <input type="text" id="nameRecipe" name="name" th:value="${recipe.name}" class="form-control">
        </div>
        <div class="form-group">
            <label for="cuisine">Cuisine Category:</label>
            <select id="cuisine" name="cuisine.id" class="form-control">
                <option th:each="category : ${cuisineCategories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" id="type" name="type" th:value="${recipe.type}" class="form-control">
        </div>
        <div class="form-group">
            <label for="difficulty">Difficulty:</label>
            <input type="text" id="difficulty" name="difficulty" th:value="${recipe.difficulty}" class="form-control">
        </div>
        <div class="form-group">
            <label for="imageRecipe">Update Image:</label>
            <input type="file" id="imageRecipe" name="photo" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>

    <div class="form-group">
        <h2>Add Instruction</h2>
        <form th:action="@{'/addInstruction/' + ${recipe.recipeId}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="instructionDescriptionAdd">Description:</label>
                <input type="text" id="instructionDescriptionAdd" name="description" class="form-control">
            </div>
            <div class="form-group">
                <label for="instructionVideoURLAdd">Video URL:</label>
                <input type="text" id="instructionVideoURLAdd" name="videoURL" class="form-control">
            </div>
            <div class="form-group">
                <label for="instructionStepNumberAdd">Step Number:</label>
                <input type="number" id="instructionStepNumberAdd" name="stepNumber" class="form-control">
            </div>
            <div class="form-group">
                <label for="instructionImageAdd">Image:</label>
                <input type="file" id="instructionImageAdd" name="instructionImage">
            </div>
            <button type="submit" class="btn btn-primary">Add Instruction</button>
        </form>
    </div>

    <div class="form-group">
        <h2>Instructions</h2>
        <ul>
            <li th:each="instruction : ${recipe.getInstructions()}">
                <form th:action="@{'/updateInstruction/' + ${recipe.recipeId} + '/' + ${instruction.instructionId}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="instructionId" th:value="${instruction.instructionId}">
                    <div class="form-group">
                        <label for="instructionDescriptionUpdate">Description:</label>
                        <input type="text" id="instructionDescriptionUpdate" name="description" th:value="${instruction.description}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="instructionVideoURLUpdate">Video URL:</label>
                        <input type="text" id="instructionVideoURLUpdate" name="videoURL" th:value="${instruction.videoURL}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="instructionStepNumberUpdate">Step Number:</label>
                        <input type="number" id="instructionStepNumberUpdate" name="stepNumber" th:value="${instruction.stepNumber}" class="form-control">
                    </div>
                    <div th:each="photo : ${instruction.getPhotos()}">
                        <div class="form-group">
                            <img th:src="@{${photo.getPhotoPath()}}" alt="Instruction Image" style="max-width: 200px;">
                        </div>
                        <div class="form-group">
                            <a th:href="@{'/deletePhoto/' + ${recipe.recipeId} + '/' + ${instruction.instructionId} + '/' + ${photo.photoId}}" class="btn btn-danger">Delete Photo</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Instruction</button>
                </form>
                <form th:action="@{'/addPhoto/' + ${recipe.recipeId} + '/' + ${instruction.instructionId}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="instructionPhotoAdd">Add Image:</label>
                        <input type="file" id="instructionPhotoAdd" name="instructionImageEditAdd" class="form-control">
                        <button type="submit" class="btn btn-primary">Add Photo</button>
                    </div>
                </form>
                <a th:href="@{'/deleteInstruction/' + ${recipe.recipeId} + '/' + ${instruction.instructionId}}" class="btn btn-danger">Delete Instruction</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
