<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culinary Companion</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
<div class="success-message" th:if="${session.loginSuccessful}" th:text="${session.loginSuccessful}"></div>
<header class="header">
    <nav class="nav-bar">
        <a href="home" class="logo"><i class='bx bx-dish'></i></a>
        <a href="home">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Help</a>
    </nav>
    <form action="" class="search-bar">
        <input type="text" placeholder="Search...">
        <button><i class='bx bx-search-alt-2'></i></button>
    </form>
    <a href="userProfile" class="account"><i class='bx bx-user'></i></a>

<script src="../static/login.js"></script>
<script src="../static/error-message.js"></script>
<script src="../static/success-message.js"></script>
</header>

<!-- Scroll Screen -->
<div class="banner">

</div>

<!-- Category -->
<div class="category">
    <div class="wrap">
        <div class="cat-box">
            <a href="#">
                <img src="../static/image/American.png" alt="American">
                <p class="cat-name">American</p>
            </a>
        </div>
        <div class="cat-box">
            <a href="#">
                <img src="../static/image/Indian.png" alt="Indian">
                <p class="cat-name">Indian</p>
            </a>
        </div>
        <div class="cat-box">
            <a href="#">
                <img src="../static/image/Chinese.png" alt="Chinese">
                <p class="cat-name">Chinese</p>
            </a>
        </div>
        <div class="cat-box">
            <a href="#">
                <img src="../static/image/Japanese.png" alt="Japanese">
                <p class="cat-name">Japanese</p>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="recipe-box">
        <div class="recipe">
            <img src="../static/image/example-photo.jpg" alt="">
            <a href="#">Recipe1</a>
        </div>
        <div class="recipe" >
            <img src="" alt="">
            <a href="#">Recipe2</a>
        </div>
        <div class="recipe">
            <img src="" alt="">
            <a href="#">Recipe3</a>
        </div>
        <div class="recipe">
            <img src="" alt="">
            <a href="#">Recipe4</a>
        </div>
        <div class="recipe">
            <img src="" alt="">
            <a href="#">Recipe5</a>
        </div>
        <div class="recipe">
            <img src="" alt="">
            <a href="#">Recipe6</a>
        </div>
        <div class="recipe">
            <img src="" alt="">
            <a href="#">Recipe7</a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <p>Group 3 Project - Culinary Companion</p>
        <ul>
            <li><a href="#">Team Member: Haoran Wang, Yifan Bian, Chang Xu, Saif Bayyari, Kozimjon Kuchkorov</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </div>
</footer>
</body>
</html>