<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Culinary Companion</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
<div class="success-message" th:if="${session.loginSuccessful}" th:text="${session.loginSuccessful}"></div>
<header class="header">
    <nav class="nav-bar">
        <a href="home" class="logo"><i class='bx bx-dish'></i></a>
        <a href="#home">Home</a>
        <a href="#category">Category</a>
        <a href="#dishes">Dishes</a>
        <a href="/filterRecipe">Filter</a>
        <a href="#">Contact</a>
        <a href="#">Help</a>
    </nav>
    <form action="/search" class="search-bar" method="get" id="search-input">
        <input type="text" placeholder="Search..." name="keyword">
        <button><i class='bx bx-search-alt-2'></i></button>
    </form>
    <a href="/userProfile" class='account'><i class='bx bx-user'></i></a>

    <script src="../static/login.js"></script>
    <script src="../static/error-message.js"></script>
    <script src="../static/success-message.js"></script>
    <script src="../static/search.js"></script>
    <script src="../static/home.js"></script>
</header>

<div class="search-results" id="search-results">
    <div th:if="${searchResults != null}">
        <h2>Search Results</h2>
        <ul>
            <li th:each="recipe : ${searchResults}">
                <div class="search-result">
                    <img th:src="${recipe.getPhotos().get(0).getPhotoPath()}" alt="Recipe Image">
                    <div class="result-details">
                        <h5 th:text="${recipe.getName()}"></h5>
                        <p th:text="'Cuisine: ' + ${recipe.getCuisine().getName()}"></p>
                        <p th:text="'Type: ' + ${recipe.getType()}"></p>
                        <a th:href="@{'/recipe-details/' + ${recipe.getRecipeId()}}" >View Recipe</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<section class="home" id="home">
    <div class="home-slider">
        <div class="slide">
            <div class="content">
                <h2>Pasta</h2>
                <p>Pasta cooked and served with tomato meat sauce</p>
                <a href="#" class="btn">View</a>
            </div>
            <div class="scroll-image">
                <img src="../static/image/Pasta.jpg" alt="Pasta">
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <h2>Steak</h2>
                <p>Exudes unparalleled tenderness and rich beef flavor</p>
                <a href="#" class="btn">View</a>
            </div>
            <div class="scroll-image">
                <img src="../static/image/Steak.jpg" alt="Steak">
            </div>
        </div>
    </div>
</section>

<section id="category">
    <div class="category">
        <div class="wrap" style="display: flex; justify-content: center;">
            <div class="cat-box" th:each="category : ${cuisineCategories}" style="margin: 0 10px;">
                <a href="#" style="text-align: center;" th:href="@{'/recipes-by-category/' + ${category.getId()}}">
                    <img th:src="${category.getPhotos().get(0).getPhotoPath()}" th:alt="${category.getName()}">
                    <p class="cat-name" th:text="${category.getName()}"></p>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="dishes">
    <div class="container">
        <div class="recipe-box">
            <div class="recipe" th:each="recipe : ${recipes}">
                <img th:src="${recipe.getPhotos().get(0).getPhotoPath()}" alt="Recipe Image">
                <h1 th:text="${recipe.getName()}"></h1>
                <p th:text="'Cuisine: ' + ${recipe.getCuisine().getName()}"></p>
                <p th:text="'Type: ' + ${recipe.getType()}"></p>
                <a th:href="@{'/recipe-details/' + ${recipe.getRecipeId()}}" >View Recipe</a>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-content">
        <p>Group 3 Project - Culinary Companion</p>
        <ul>
            <li><a href="#">Team Member: Haoran Wang, Yifan Bian, Chang Xu, Saif Bayyari, Kozimjon Kuchkorov</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </div>
</footer>
</body>
</html>