<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Page</title>
    <link rel="stylesheet" href="../static/userProfile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Welcome to Your Personal Page</h1>
<p th:text="'Hello, ' + ${session.loggedInUserName}"></p>

<h1>Add Recipe</h1>
<form action="/addRecipe" method="post" enctype="multipart/form-data">
    <label for="nameRecipe">Recipe Name:</label>
    <input type="text" id="nameRecipe" name="nameRecipe" required><br>

    <label for="cuisine">Cuisine Category:</label>
    <select id="cuisine" name="cuisine" required>
        <option th:each="category : ${cuisineCategories}" th:value="${category.getId()}" th:text="${category.getName()}">Mexican Cuisine</option>
    </select><br>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type" required><br>

    <label for="difficulty">Difficulty:</label>
    <input type="text" id="difficulty" name="difficulty" required><br>

    <label for="image">UpdateImage:</label>
    <input type="file" id="image" name="recipeFile" required><br>

    <input type="submit" value="Add Recipe">
</form>

<h1>Add Cuisine Category</h1>
<form action="/addCuisineCategory" method="post">
    <label for="nameCuisine">Category Name:</label>
    <input type="text" id="nameCuisine" name="name" required><br>



    <input type="submit" value="Add Category">
</form>

<a th:href="logOut">Logout</a>
</body>
</html>
