<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Page</title>
    <link rel="stylesheet" href="../static/userProfile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Welcome to Your Personal Page</h1>
<p th:text="'Hello, ' + ${session.loggedInUserName}"></p>

<a th:href="logOut">Logout</a>
</body>
</html>
